.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-3.976000px;}
._1{margin-left:-2.576000px;}
._c{margin-left:-1.176000px;}
._15{width:1.232000px;}
._6{width:2.632000px;}
._8{width:3.864000px;}
._13{width:5.264000px;}
._11{width:6.720000px;}
._9{width:7.840000px;}
._d{width:8.904000px;}
._5{width:10.080000px;}
._a{width:11.312000px;}
._2{width:12.936000px;}
._7{width:15.400000px;}
._e{width:16.632000px;}
._10{width:18.032000px;}
._b{width:20.048000px;}
._f{width:22.456000px;}
._4{width:25.032000px;}
._14{width:26.096000px;}
._16{width:28.000000px;}
._0{width:30.016000px;}
._12{width:37.968000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:56.000000px;}
.y0{bottom:77.500000px;}
.y2b{bottom:80.670998px;}
.y40{bottom:86.000000px;}
.y2a{bottom:96.770000px;}
.y29{bottom:112.868999px;}
.y28{bottom:128.967998px;}
.y27{bottom:145.067000px;}
.y26{bottom:161.165997px;}
.y25{bottom:177.264998px;}
.y24{bottom:193.363995px;}
.y3f{bottom:193.364021px;}
.y23{bottom:209.462994px;}
.y3e{bottom:209.463024px;}
.y22{bottom:225.561996px;}
.y3d{bottom:225.562023px;}
.y21{bottom:241.661018px;}
.y3c{bottom:241.661022px;}
.y20{bottom:257.760017px;}
.y49{bottom:257.760021px;}
.y3b{bottom:257.760024px;}
.y1f{bottom:273.859016px;}
.y3a{bottom:273.859020px;}
.y1e{bottom:289.958015px;}
.y48{bottom:289.958019px;}
.y39{bottom:289.958022px;}
.y1d{bottom:306.057018px;}
.y47{bottom:306.057021px;}
.y1c{bottom:322.156017px;}
.y1b{bottom:338.255016px;}
.y38{bottom:338.255019px;}
.y37{bottom:354.354015px;}
.y1a{bottom:354.354018px;}
.y4a{bottom:357.000000px;}
.y19{bottom:370.453011px;}
.y36{bottom:370.453017px;}
.y18{bottom:386.552013px;}
.y46{bottom:386.552016px;}
.y17{bottom:402.651012px;}
.y16{bottom:418.750011px;}
.y35{bottom:418.750014px;}
.y34{bottom:434.849007px;}
.y15{bottom:434.849013px;}
.y33{bottom:450.948009px;}
.y14{bottom:450.948021px;}
.y32{bottom:467.047009px;}
.y13{bottom:467.047024px;}
.y31{bottom:483.146008px;}
.y12{bottom:483.146023px;}
.y30{bottom:499.245009px;}
.y11{bottom:499.245022px;}
.y2f{bottom:515.344021px;}
.y10{bottom:515.344024px;}
.yf{bottom:531.443020px;}
.y2e{bottom:531.443023px;}
.ye{bottom:547.542019px;}
.yd{bottom:563.641018px;}
.y45{bottom:563.641021px;}
.y44{bottom:579.740017px;}
.yc{bottom:579.740020px;}
.yb{bottom:595.839016px;}
.ya{bottom:611.938015px;}
.y43{bottom:611.938018px;}
.y9{bottom:628.037017px;}
.y42{bottom:628.037022px;}
.y8{bottom:644.136021px;}
.y2d{bottom:644.136024px;}
.y7{bottom:660.235020px;}
.y2c{bottom:660.235023px;}
.y6{bottom:676.334022px;}
.y5{bottom:692.433022px;}
.y4{bottom:708.532021px;}
.y41{bottom:708.532023px;}
.y3{bottom:724.631022px;}
.y2{bottom:740.730023px;}
.y1{bottom:756.829024px;}
.h2{height:37.953125px;}
.h3{height:38.910156px;}
.h5{height:413.000000px;}
.h4{height:684.000000px;}
.h1{height:692.500000px;}
.h0{height:841.900024px;}
.w1{width:454.500000px;}
.w0{width:595.299988px;}
.x0{left:70.500000px;}
.x1{left:72.000000px;}
.x2{left:90.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-5.301333pt;}
._1{margin-left:-3.434667pt;}
._c{margin-left:-1.568000pt;}
._15{width:1.642667pt;}
._6{width:3.509333pt;}
._8{width:5.152000pt;}
._13{width:7.018667pt;}
._11{width:8.960000pt;}
._9{width:10.453333pt;}
._d{width:11.872000pt;}
._5{width:13.440000pt;}
._a{width:15.082667pt;}
._2{width:17.248000pt;}
._7{width:20.533333pt;}
._e{width:22.176000pt;}
._10{width:24.042667pt;}
._b{width:26.730667pt;}
._f{width:29.941333pt;}
._4{width:33.376000pt;}
._14{width:34.794667pt;}
._16{width:37.333333pt;}
._0{width:40.021333pt;}
._12{width:50.624000pt;}
.fs0{font-size:74.666667pt;}
.y0{bottom:103.333333pt;}
.y2b{bottom:107.561330pt;}
.y40{bottom:114.666667pt;}
.y2a{bottom:129.026667pt;}
.y29{bottom:150.491999pt;}
.y28{bottom:171.957331pt;}
.y27{bottom:193.422667pt;}
.y26{bottom:214.887995pt;}
.y25{bottom:236.353331pt;}
.y24{bottom:257.818659pt;}
.y3f{bottom:257.818695pt;}
.y23{bottom:279.283991pt;}
.y3e{bottom:279.284032pt;}
.y22{bottom:300.749327pt;}
.y3d{bottom:300.749364pt;}
.y21{bottom:322.214691pt;}
.y3c{bottom:322.214696pt;}
.y20{bottom:343.680023pt;}
.y49{bottom:343.680028pt;}
.y3b{bottom:343.680032pt;}
.y1f{bottom:365.145355pt;}
.y3a{bottom:365.145360pt;}
.y1e{bottom:386.610687pt;}
.y48{bottom:386.610692pt;}
.y39{bottom:386.610696pt;}
.y1d{bottom:408.076024pt;}
.y47{bottom:408.076028pt;}
.y1c{bottom:429.541356pt;}
.y1b{bottom:451.006688pt;}
.y38{bottom:451.006692pt;}
.y37{bottom:472.472020pt;}
.y1a{bottom:472.472024pt;}
.y4a{bottom:476.000000pt;}
.y19{bottom:493.937347pt;}
.y36{bottom:493.937356pt;}
.y18{bottom:515.402685pt;}
.y46{bottom:515.402688pt;}
.y17{bottom:536.868017pt;}
.y16{bottom:558.333349pt;}
.y35{bottom:558.333352pt;}
.y34{bottom:579.798676pt;}
.y15{bottom:579.798684pt;}
.y33{bottom:601.264013pt;}
.y14{bottom:601.264028pt;}
.y32{bottom:622.729345pt;}
.y13{bottom:622.729365pt;}
.y31{bottom:644.194677pt;}
.y12{bottom:644.194697pt;}
.y30{bottom:665.660013pt;}
.y11{bottom:665.660029pt;}
.y2f{bottom:687.125361pt;}
.y10{bottom:687.125365pt;}
.yf{bottom:708.590693pt;}
.y2e{bottom:708.590697pt;}
.ye{bottom:730.056025pt;}
.yd{bottom:751.521357pt;}
.y45{bottom:751.521361pt;}
.y44{bottom:772.986689pt;}
.yc{bottom:772.986693pt;}
.yb{bottom:794.452021pt;}
.ya{bottom:815.917353pt;}
.y43{bottom:815.917357pt;}
.y9{bottom:837.382689pt;}
.y42{bottom:837.382696pt;}
.y8{bottom:858.848028pt;}
.y2d{bottom:858.848031pt;}
.y7{bottom:880.313360pt;}
.y2c{bottom:880.313363pt;}
.y6{bottom:901.778695pt;}
.y5{bottom:923.244029pt;}
.y4{bottom:944.709361pt;}
.y41{bottom:944.709365pt;}
.y3{bottom:966.174697pt;}
.y2{bottom:987.640031pt;}
.y1{bottom:1009.105366pt;}
.h2{height:50.604167pt;}
.h3{height:51.880208pt;}
.h5{height:550.666667pt;}
.h4{height:912.000000pt;}
.h1{height:923.333333pt;}
.h0{height:1122.533366pt;}
.w1{width:606.000000pt;}
.w0{width:793.733317pt;}
.x0{left:94.000000pt;}
.x1{left:96.000000pt;}
.x2{left:120.000000pt;}
}
