@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

.lp-title-left-h1, .lp-features-h1, .of-title, .of-features, .aqiqah-title h2, .qurban-title h2, .wedding-title h2, .cu-get-now h3, .cu-bottom form>.btn, .cu-bottom h3, .cu-top h4, .of-title h1{
    font-family: 'Montserrat', Sans-Serif;
    font-weight: bold;
}
.lp-title-left-h2, .aqiqah-title h6, .qurban-title h6, .wedding-title h6, .lp-icons h5, .btn-link, .cu-top p, .footer-contact h6, .footer-menu a>h6, .footer-copyright{
	font-family: 'Lato', Sans-Serif;
}

.btn-link, .lp-icon, .icon-indo, .icon-eng{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* .col-lg-12{
    padding: 0;
} */

.container-fluid{
    padding: 0;
    clear: both;
}
.navbar{
    background-color: #2ECC71!important;
}
.navbar-nav{
    float: right;
}
.nav-item > .nav-link{
    color: #0b4624!important;
    font-family: Helvetica "Neue" Bold;
    font-weight: bold;
    margin: 0 15px;
}
/* menu */
.nav-item{
    margin-bottom: 10px;
}

.backdropdown {
    background-color: transparent;
    padding: 0px;
    margin: -13px 14px;
    border: none;
}

.nav-link{
    display: inline-block;
    color: #0b4624;
    text-decoration: none;
    font-weight: bold!important;
}
.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #0b4624;
    transition: width .4s;
}
.nav-link:hover::after{
    width: 100%;
    /* transition: width .3s; */
}
.icon-indo{
    margin-right: -30px;
}
.icon-eng{
    margin-right: -15px;
}
.icon-indo, .icon-eng{
    width: 25px;
    height: 25px;
}

.hideme{
    opacity:0;
}

.landing-page{
    height: auto;
    overflow: auto;
    background: url('../images/images.png');
    /* background-size: 300px 150px; */
    background-repeat: no-repeat, repeat;
    background-position: right;
    background-size: contain;
    /* background-color:#6bdb9a; */
    background-color: #2ECC71;
}
.lp-title-left{
    margin: 0 0 95px 50px;
    color: #0b4624;
    overflow: auto;
    padding: 0;
}
.logo-head {
    width: 120px;
    height: 60px;
    max-width: 100%;   
}
.logo-nav{
    width: 180px;
    height: 100px;
    max-width: 100%;
}
.lp-title-left-h1{
    margin-top:60px;
}
.lp-icons{
    text-align: center;
    padding: 0;
    float: left;
    margin: 20px 0 30px 0;
}
.lp-icons h5{
    margin-top: 10px;
}
.lp-icon{
    width: 80px;
    height: 80px;
    padding: 5px;
}
.lp-icon:hover, .icon-eng:hover, .icon-indo:hover{
    position: relative;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.leftBtn {
    margin-top:12px!important;
    padding-left:235px!important;
}

.lp-btn{
    margin-top:0px;
    position: relative;
    overflow: auto;
    padding-left: 0;
}
.lp-btn-playstore, .lp-btn-appstore{
    float: left;
    margin-right: 20px;
    padding: 0;
    width: 100%;
    height: auto;
}

.lp-features{
    height: auto;
    overflow: auto;
    background: url('../images/mockup_front.png');
    background-repeat: no-repeat, repeat;
    background-position: left;
    background-size: inherit;
    background-color:#FFFFFF;
}

.detailbtn{
    text-align: left;
}

.btn-detail {
    height: auto;
    margin: 25px auto;
    border-radius: 0;
    padding: 5px 25px;
    background-color: #2ecc71;
    color: #FFFFFF;
    /* box-shadow: 0 8px 10px -6px grey; */
    text-decoration: none;
    z-index: 1;
    margin-top: 30px;
}

.lp-headline-h5 {
    text-align: center;
    color: #0a2b18;
    font-family: 'Montserrat', Sans-Serif;
    font-weight: bold;
    margin-bottom: 60px;
}

.lp-headline-h1 {
    font-size : 2.5rem;
    text-align: center;
    color: #0a2b18;
    font-family: 'Montserrat', Sans-Serif;
    font-weight: bold;
}

.lp-features-title{
    margin: 240px 50px 240px 0;
    float: right;
    padding: 0;
}

.lp-features-h1, .lp-features-h2{
    text-align: right;
    color: #0a2b18;
}

.float-button-wrapper {
    position: fixed;
    right: 150px;
    top: 450px;
    z-index: 1;
}
.float-button-page img {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.float-button-page a {
    float: left;
    clear: left;
    margin-bottom: 1px;
    text-decoration: none;
    color: #1e3c2b;
}
.float-button-page > a > img{
    margin: 10px 0 10px 10px;
}
.float-button-page > a > h6{
    margin: 15px 10px 0 0;
    width: 50%;
    float: right;
    font-size: 1rem;
    text-align: center;
}
.float-button-page {
    position: absolute;
    background-color: #FFFFFF;
    width: 150px;
    border-radius: 100px 0 0 100px;
    box-shadow: 0 8px 15px -6px grey;
}

.aqiqahtothenews{
    background: url('../background/bg_aqiqahtonews.png');
    background-color: #FFFFFF;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-aqiqah, .content-qurban, .content-wedding{
    overflow: auto;
    margin: 50px 0;
    padding: 0;
}
.aqiqah-right, .wedding-right{
    float:right;
    padding: 0;
}
.qurban-right{
    float: left;
}
.aqiqah-right img, .wedding-right img, .qurban-right img{
    max-width: 100%;
    height: auto;
}
.aqiqah-wrap, .qurban-wrap, .wedding-wrap{
    float: left;
    /* margin-top: 120px; */
    margin-top: 55px;
}
.qurban-wrap{
    float: right;
}
.aqiqah-pic, .wedding-pic{
    float: left;
}
.aqiqah-pic img, .qurban-pic img, .wedding-pic img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border: 10px solid #ffffff;
    border-radius: 360px;
}
.aqiqah-title, .wedding-title{
    /* margin:130px 0 40px 0px; */
    float: left;
}
.aqiqah-title h2, .aqiqah-title h5, .qurban-title h2, .qurban-title h5, .wedding-title h2, .wedding-title h5{
    color:#0a2b18;
}
.aqiqah-title h5, .qurban-title h5, .wedding-title h5{
    margin: 15px 0px 0px 0;
    font-weight: normal;
    line-height: 1.5;
}
.qurban-wrap, .qurban-pic{
    float: right;
}
.qurban-pic img{
    float: inherit;
}
.qurban-title{
    float: right;
    text-align: right;
    color:#0a2b18;
}
.btn-link{
    display: table;
    height: auto;
    margin: 25px auto;
    border-radius: 0;
    padding: 5px 25px;
    background-color: #2ecc71;
    color: #FFFFFF;
    /* box-shadow: 0 8px 10px -6px grey; */
    text-decoration: none;
    z-index: 1;
    margin-top: 30px;
}
.btn-link:hover{
    text-decoration: none;
    background-color: #2ecc71;
    color: #FFFFFF;
    border-radius:100px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: table;
}

.our-features{
    overflow: auto;
}
.of-title{
    border-bottom: 4px solid #30cd73;
    margin: 0 auto;
    text-align: center;
    color: #0b4624;
    width: fit-content;
    margin-bottom: 0px;
    margin-top: 50px;
}
.of-title h1{
    font-weight: bold;
}
.of-content{
    margin: 0px auto;
    padding: 0;
    overflow: auto;
}
.of-mockup{
    float: left;
    margin-top: 25px;
}
.of-mockup img {
    max-width: 100%;
    height: auto;
    width: 73%;
    margin: 0 auto;
    display: block;
}
.of-features{
    float: right;
    margin-top: 30px;
    overflow: auto;
}
.feature{
    float: left;
    overflow: auto;
    margin: 10px 0;
}
.feature img{
    width: 50px;
    height: 50px;
}
.feature img, .feature p{
    float: left;
    padding: 0;
}
.feature p{
    margin: 12px 15px;
    color: #0a2b18;
}
.gps-h-u{
  width:160px;
  margin-top:6px!important;
}

.carousel{
    margin: 50px 0 100px 0;
}
.carousel-item{
    text-align: center;
    margin: 75px 0 100px 0;
}
.carousel-item p{
    margin: 20px auto;
}
.carousel-item img{
    margin: 0 auto;
    /* width: 100px; */
    width: 100px;
    height: 100px;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    color:#0a2b18;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 30px;
    height: 30px;
    background-color: #dadada;
    opacity: 0.7;
}

.contact-us{
    margin-top:0px;
}
.cu-top{
    margin: 40px 0;
}
.cu-top p, .cu-top h4{
    margin:0 auto;
    margin-top: 10px;
}
.cu-top, .cu-bottom{
    color: #0b4624;
    text-align: center;
}
.cu-bottom{
    margin-top:40px;
}
.cu-bottom form{
    margin: 0 auto;
}
.cu-bottom form > .form-control{
    border: 2px solid #30ba6b;
    border-radius: 0;
}
.cu-bottom form > .btn{
    background-color: #30ba6b;
    margin: 10px;
    border: none;
}
.cu-get-now{
    margin: 0 auto;
    margin-top: 0px;
}
.cu-get-now h3{
    margin: 0 auto;
    text-align: center;
    color: #0b4624;
}
.get-now{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.playstore{
    float: left;
}

footer{
    background: url('../background/bg_footer.png');
    overflow: auto;
    background-repeat: no-repeat, repeat;
    background-position: right;
    background-size: cover;
    background-color: #2ecc71;
}
.footer-logo{
    margin: 20px auto;
    margin-bottom: 0;
}
.footer-logo img{
    margin:0 auto;
    display: block;
}
.footer-contact{
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF;
}
.socialmedia{
    margin: 0 auto;
    overflow: auto;
}
.socialmedia a{
    text-decoration: none;
}
.socialmedia img{
    margin: 5px;
    margin-bottom: 15px;
}
.footer-menu{
    margin: 0 auto;
    overflow: auto;
}
.footer-menu a>h6{
    float: left;
    padding: 0;
    text-decoration: none;
    color: #fff;
}
.footer-copyright{
    font-size: 0.8rem;
    margin:10px 0 0 0;
}

#return-to-top {
    position: fixed;
    bottom: 50px;
    right: 70px;
    background: #2ecc71;
    background: #2ecc71;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;
    opacity: 0.9;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;
}
#return-to-top:hover {
    background: #2ecc71;
    opacity: 0.9;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


@media screen and (max-width: 992px) {
    .lp-headline {
        text-align: center;
        font-size : 0.8rem;
        color: #0a2b18;
        font-family: 'Montserrat', Sans-Serif;
        font-weight: bold;
    }
    
    .lp-headline-h1, .lp-features-h2 {
        font-size : 0.9rem;
        text-align: center;
        color: #0a2b18;
        font-family: 'Montserrat', Sans-Serif;
        font-weight: bold;
    }

    .lp-headline-h5 {
        text-align: center;
        font-size : 0.8rem;
        color: #0a2b18;
        font-family: 'Montserrat', Sans-Serif;
        font-weight: bold;
    }

    .lp-features-title{
        margin: 150px 50px 150px 0;
        float: right;
        padding: 0;
    }

    .content-aqiqah, .content-qurban, .content-wedding{
        margin: 20px 0 20px 0;
        background-position-y: 0px;
        background-size: contain;
    }
    .aqiqah-wrap, .wedding-wrap, .qurban-wrap {
        margin: 30px 0 0 0;
        padding-left: 0;
    }
    .aqiqah-pic, .qurban-pic, .wedding-pic{
        margin: 0 auto;
        margin-top: 50px;
    }
    .qurban-pic img{
        margin-right: 20px;
    }
    .aqiqah-title, .wedding-title {
        margin-top: 50px;
        float: left;
    }
    .qurban-title{
        margin-top: 50px;
        float: right;
    }

    .of-title{
        margin-top: 20px;
    }
    .of-content{
        margin-top: 20px;
    }
    .of-mockup{
        margin: 0 auto;
    }
    .of-mockup img{
        width: 95%;
    }
    .of-features{
        float: none;
        margin: 0 auto;
    }
    .feature{
        padding: 0;
    }
    .feature img{
        width: 45px;
        height: 45px;
    }
    .feature p{
        margin: 10px 0 10px 5px;
    }

    .cu-top{
        margin: 20px 0;
        padding: 0;
    }
    .cu-top p, .cu-top h4 {
        padding: 0;
    }

    .carousel{
        margin: 20px 0 20px 0;
    }

    .playstore{
        margin-left: 0;
        margin-bottom:  10px;
    }

    .footer-logo{
        margin-top: 10px;
    }
    .footer-contact{
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .lp-headline {
        text-align: center;
        font-size : 0.8rem;
        color: #0a2b18;
        font-family: 'Montserrat', Sans-Serif;
        font-weight: bold;
    }
    
    .lp-headline-h1, .lp-features-h2 {
        font-size : 0.9rem;
        text-align: center;
        color: #0a2b18;
        font-family: 'Montserrat', Sans-Serif;
        font-weight: bold;
    }

    .lp-headline-h5 {
        text-align: center;
        font-size : 0.8rem;
        color: #0a2b18;
        font-family: 'Montserrat', Sans-Serif;
        font-weight: bold;
    }
    
    .navbar-toggler-icon {
        width: 1em;
        height: 1em;
        background-size: 100% 100%;
    }
    .nav-item a>img{
        margin-right: 0;
    }

    .lp-title-left{
        margin: 0!important;
        padding:10px;
        padding-top: 0;
    }
    .lp-icons {
        width: 28%;
        margin: 10px 0 10px 0;
    }
    .lp-icons h5{
        font-size: 0.8rem;
        margin-top: 5px;
    }
    .lp-icons img{
        width: 50px;
        height: 50px;
    }
    .lp-title-left-h1{
        margin-top: 20px;
    }

    .lp-title-left-h1, .lp-features-h1,
    .aqiqah-title h2, .qurban-title h2,
        .wedding-title h2, .btn-link,
        .carousel-item h3, .cu-top h4,
        .cu-bottom h3, .cu-get-now h3
        {
        font-size: 1.5rem;
    }
    .lp-title-left-h2, .lp-features-h2,
    .aqiqah-title h5, .qurban-title h5,
    .wedding-title h5, .feature p,
    .carousel-item p, .cu-top p,
    .footer-contact h6, .btn-link{
        font-size: 0.8rem;
    }
    .leftBtn {
        margin-top:12px!important;
        padding-left:20px!important;
    }
    .lp-btn {
        margin: 20px 0;
        padding: 0;
    }
    .lp-btn-playstore, .lp-btn-appstore{
        margin-top: 5px;
    }

    .lp-features{
        background-size: cover;
    }
    .lp-features-title{
        margin: 75px 10px 75px 0;
        background: rgba(253, 253, 253, 0.6);
    }
    .feature img{
        width: 35px;
        height: 35px;
    }
    .gps-h-u{
        width: 128px;
        margin-top: 0px!important;
    }

    .content-aqiqah, .content-qurban, .content-wedding{
        margin: 20px 0 20px 0;
        background-size: contain;
    }
    .aqiqah-pic, .qurban-pic, .wedding-pic{
        margin:0 auto;
        width: 100px;
        height: 100px;
        margin-top: 30px;
        padding-right: 0;
    }
    .aqiqah-wrap, .qurban-wrap, .wedding-wrap{
        margin-top: 20px;
        padding-right: 0;
    }
    .qurban-wrap{
        padding-right: 0;
        padding-left: 0;
    }
    .aqiqah-pic img, .wedding-pic img, .qurban-pic img{
        float: left;
        border:5px solid #fff;
    }
    .aqiqah-title, .qurban-title, .wedding-title {
        margin: 20px 0 10px 0;
        padding-right: 0;
    }
    .btn-link {
        margin: 15px auto;
        padding: 5px 15px;
    }

    .of-title h1{
        font-size: 2rem;
    }
    .of-features{
        margin-top:0;
        padding-left: 15px;
        padding-right: 0;
    }
    .of-mockup{
        margin: 0 auto;
        display: block;
    }

    .carousel-item{
        margin: 75px 0 75px 0;
    }

    .get-now{
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .playstore{
        margin-left: 0;
    }
    .playstore, .appstore{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .appstore{
        margin-top: 10px;
    }
    .cu-get-now{
        margin-top: 30px;
    }
    .cu-bottom form>.btn{
        font-size: 0.9rem;
    }

    footer{
        padding: 0 15px 0 15px;
    }
    .footer-logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin: 0 auto;
    }
    .footer-contact{
        margin: 0 auto;
        margin-top: 15px;
    }
    .footer-copyright p{
        font-size: 0.7rem;
    }

    #return-to-top{
        bottom: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
    }
    #return-to-top i{
        font-size: 0.8rem;
        left:10px;
        top: 1px;
    }
}

@media (max-width: 576px) {
    .logo-nav {
        width: 160px;
        height: 70px;
        margin-top: 10px;
    }
    
    .lp-icons{
        margin: 10px 0;
    }
    .leftBtn {
        margin-top:12px!important;
        padding-left:20px!important;
    }
    .lp-btn{
        margin-bottom: 10px;
    }
    .lp-btn-playstore{
        margin-top: 0;
    }

    .lp-title-left-h1, .lp-features-h1, .aqiqah-title h2, .qurban-title h2, .wedding-title h2, .btn-link, .carousel-item h3, .cu-top h4, .cu-bottom h3, .cu-get-now h3 {
        font-size: 0.9rem;
    }
    .lp-title-left-h2, .lp-features-h2, .aqiqah-title h5, .qurban-title h5, .wedding-title h5, .feature p, .carousel-item p, .cu-top p, .footer-contact h6, .btn-link, .lp-icons h5 {
        font-size: 0.7rem;
    }.of-title h1 {
        font-size: 1.7rem;
    }

    .aqiqah-wrap, .qurban-wrap, .wedding-wrap{
        margin-top: 15px;
    }
    .qurban-wrap{
        padding-right: 15px;
    }
    .content-aqiqah, .content-qurban, .content-wedding{
        padding: 0;
    }
    .aqiqah-pic, .qurban-pic, .wedding-pic,
    .aqiqah-title, .qurban-title, .wedding-title{
        margin-top: 0;
        height: auto;
        margin-bottom: 10px;
    }
    .aqiqah-pic img, .qurban-pic img, .wedding-pic img{
        border: 4px solid #ffffff;
    }
    .qurban-pic img {
        margin-right: 0;
    }
    .btn-link{
        margin: 5px auto;
        padding: 5px 15px;
    }
    .aqiqah-right, .qurban-right, .wedding-right{
        margin-top: -180px;
    }

    .of-mockup{
        float: none;
    }
    .of-features{
        margin-top: 10px;
    }
    .gps-h-u{
        margin-top: 3px!important;
    }

    .carousel-item {
        margin: 50px 0 75px 0;
    }

    .cu-get-now {
        margin-top: 0;
    }

    .float-button-page > a > img {
        margin: 5px 0 5px 10px;
        float: left;
        width: 35px;
    }
    .float-button-page > a > h6 {
        margin: 9px 10px 0 0;
        float: left;
        font-size: 0.7rem;
    }
    .float-button-wrapper {
        right: 120px;
    }

    .insta-embeds, .insta-embed{
      padding:0;
    }
}

@media (max-width: 480px) {
  .aqiqah-right, .qurban-right, .wedding-right{
      margin-top: 0;
  }
  .lp-btn-playstore, .lp-btn-appstore {
      width: 35%;
      margin-top: 0;
  }
}

@media (max-width: 420px) {

    .landing-page{
        height: auto;
        overflow: auto;
        background: url('../images/images.png');
        /* background-size: 230px 225px; */
        background-size: 200px 195px;
        background-repeat: no-repeat, repeat;
        /* background-position: 179px 183px; */
        background-position: 159px 193px;
        background-color: #2ECC71;
    }

    .logo-nav{
        width: 50%;
        height: auto;
        margin-top: 5px;
    }
    .lp-icons {
        margin: 0;
    }
    .lp-title-left-h1 {
        margin-top: 10px;
    }
    .lp-icons img {
    width: 40px;
    height: 40px;
    }
    .lp-icons h5 {
        margin-top: 0px;
    }
    .leftBtn {
        margin-top:12px!important;
        padding-left:20px!important;
    }
    .lp-btn {
        margin-top: 0px;
        padding: 0;
    }
    .lp-btn-playstore, .lp-btn-appstore {
        width: 35%;
    }
    .lp-btn-appstore{
        margin-top: 0;
    }

    .lp-features {
        margin: 0px 10px 0px 0;
    }
    .gps-h-u{
        width: 115px;
        margin-top: -2px!important;
    }

    .lp-title-left-h1, .lp-features-h1, .aqiqah-title h2, .qurban-title h2, .wedding-title h2, .btn-link, .carousel-item h3, .cu-top h4, .cu-bottom h3, .cu-get-now h3, .float-button-page > a > h6 {
        font-size: 1rem;
    }
    .lp-title-left-h2, .lp-features-h2, .aqiqah-title h6, .qurban-title h6, .wedding-title h6, .feature p, .carousel-item p, .cu-top p, .footer-contact h6, .btn-link{
        font-size: 0.7rem;
    }
    .lp-icons h5 {
        font-size: 0.5rem;
    }

    .content-aqiqah, .content-qurban, .content-wedding {
        margin: 0 0 20px 0;
    }
    .aqiqah-wrap{
        margin-top: 20px;
    }
    .qurban-wrap, .wedding-wrap {
        margin-top: 5px;
    }
    .qurban-wrap{
        padding-right: 0;
    }
    .aqiqah-title, .wedding-title{
        padding-left: 10px;
    }
    .qurban-title{
        padding-right: 10px;
    }
    .aqiqah-pic img, .qurban-pic img, .wedding-pic img {
        border: 3px solid #ffffff;
        margin-top: 15px;
    }
    .qurban-pic img{
        padding-left: 0;
    }
    .btn-link {
        margin: 5px 0;
        padding: 3px 7px;
    }
    .aqiqah-title h2, .qurban-title h2, .wedding-title h2{
      margin-bottom: 3px;
    }
    .aqiqah-title h5, .qurban-title h5, .wedding-title h5{
      margin-top: 5px;
    }
    .qurban-title .btn-link{
        float: right;
    }
    .aqiqah-right, .qurban-right, .wedding-right{
        margin-top: -15px;
        padding: 0;
    }
    .qurban-pic{
        padding-left: 0;
        padding-right: 15px;
    }

    .of-title h1 {
        font-size: 1.3rem;
        margin-bottom: 3px;
    }

    .feature {
        margin: 5px 0;
    }
    .feature img {
        width: 25px;
        height: 25px;
    }
    .feature p {
    margin: 5px 0 10px 5px;
    }
    .of-features{
      padding-left: 35px;
    }

    .cu-bottom, .cu-get-now {
        margin-top: 25px;
    }
    .cu-bottom form>.btn {
        font-size: 0.6rem;
    }

    .socialmedia img {
        width: 15px;
        height: 15px;
    }

    .carousel-item {
        margin: 30px 0 40px 0;
    }
    .carousel-item img{
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }
    .carousel-item p{
        margin: 10px auto;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 15px;
        height: 15px;
    }

    .float-button-page > a > img {
        margin: 5px 0 5px 10px;
        float: left;
        width: 30px;
    }
    .float-button-page > a > h6 {
        margin: 9px 10px 0 0;
        float: left;
        font-size: 0.6rem;
    }
    .float-button-wrapper {
        right: 100px;
    }

    .form-control{
        height: calc(1.25rem + 2px);
        font-size: 0.5rem;
        margin: 0 auto;
        width: 70%;
    }
}


@media (max-width: 320px) {
    .landing-page {
        height: auto;
        overflow: auto;
        background: url(../images/images.png);
        /* background-size: 230px 225px; */
        background-size: 180px 170px;
        background-repeat: no-repeat, repeat;
        background-position: 140px 209px;
        background-color: #2ECC71;
    }
}